
.content-wrapper {
  margin-top: 3rem;
}
.card-footer-item {
  font-size: 12px;
  font-weight: bold;
  color: rgb(143, 141, 141);
}
.card-header-title {
  display: block;

}
.card-content p {
  margin-bottom: 2rem;
}
.container {
  max-width: 95%;
}
.fa-code, .fa-search {
  margin-right: 0.5vw;
}

.text_portafolio {
  font-size: 9px;
}


.icon_container {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 100%;
}

.icon_img {
  height: 20px !important ;
}
