.has-same-height .card {
    height: 531px !important;
    background-color: var(--white) ;
    overflow-y: auto !important;

}


.skills{
    background-color:var(--bgviolet);

}

.cardSkills {

    background-color:var(--white);

}

