.has-same-height .card {
    height: 458px !important;
    background-color: var(--white) ;

}


.skills{
    background-color:var(--bgviolet);

}

.cardSkills {

    background-color:var(--white);

}
