/* .has-same-height .card {
    height: 531px !important;
    background-color: var(--white) ;
    overflow-y: auto !important;

} */


.skills{
    background-color:var(--bgviolet);

} 

/* .cardSkills {

    background-color:var(--white);
    

} */

/* .skill_columns {
    box-shadow: 5px 24px 5px -11px rgba(0,0,0,0.1);

} */


.skillText{

    text-decoration: underline;
}

.parrafo_skills {
    /* color: #2A2A2A; */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    padding: 9px;
}

